<!DOCTYPE html>
<html lang="en">
<head>
  <title>  shaastra </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<style >
  h1 {
    text-align: center;
    color:white; 

  }

  form {
    text-align: left;
    font-size: 150%;
    color: pink;
    transform: translate(15%, 0%);

  }

  body {
    background-color: black;
  }

input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h3{
      font-size: 400%;
      color: #7FFFD4;
      transform: translate(10%,0);

}


</style>

</head>
<body>
  

<div class="container">
  
 
  <h1 class="display-2">Shaastra </h1>
  </div>

  <h3>Create a new account</h3>

<form>
  <br><br>

<p id="form">First Name:<p>
<input  type="text" ng-model="fname" placeholder="Enter your  first name here..." required="">

<p id="form">Last Name:<p>
<input  type="text" ng-model="lname" placeholder="Enter your last name here...." required="">
<p id="form">Shaastra ID:<p>
<input type="text" ng-model="shaastraid" placeholder="Enter your ID number here..."  required="">
<p id="form">Phone number:<p>
<input  type="text" ng-model="phone number" placeholder="Enter your mobile number here..."  required="">
<p id="form">Password:<p>
<input  type="text" ng-model="Password" placeholder="Enter your password here..."  required="">



</form>


</body>
</html>